@import 'variables';
@import 'include-media';

.homeBtn {
    // border: $debug1;
    border-style: solid;
    border-color: $grey6;
    border-bottom-width: 6px;
    background-color: transparent;
    padding: 10px 25px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.ongoing {
    background-color: $yellow0;
}

.past {
    background-color: $grey1;
}
